constraints: base ==4.8.1.0,
             rts ==1.0,
             ghc-prim ==0.4.0.0,
             integer-gmp ==1.0.0.0,
             containers ==0.5.6.2,
             array ==0.5.1.0,
             deepseq ==1.4.1.1,
             data-default ==0.7.1.1,
             data-default-class ==0.1.2.0,
             data-default-instances-containers ==0.0.1,
             data-default-instances-dlist ==0.0.1,
             dlist ==0.7.1.2,
             data-default-instances-old-locale ==0.0.1,
             old-locale ==1.0.0.7,
             lens ==4.14,
             base-orphans ==0.5.4,
             bifunctors ==5.2,
             comonad ==5,
             contravariant ==1.4,
             StateVar ==1.1.0.0,
             stm ==2.4.4,
             transformers ==0.4.2.0,
             semigroups ==0.18.2,
             binary ==0.7.5.0,
             bytestring ==0.10.6.0,
             hashable ==1.2.3.3,
             text ==1.2.1.3,
             tagged ==0.8.4,
             template-haskell ==2.10.0.0,
             pretty ==1.1.2.0,
             unordered-containers ==0.2.5.1,
             transformers-compat ==0.4.0.4,
             void ==0.7.1,
             distributive ==0.5.0.2,
             exceptions ==0.8.0.2,
             mtl ==2.2.1,
             filepath ==1.4.0.0,
             free ==4.12.4,
             prelude-extras ==0.4.0.3,
             profunctors ==5.2,
             semigroupoids ==5.0.1,
             kan-extensions ==5.0.1,
             adjunctions ==4.3,
             parallel ==3.2.0.6,
             reflection ==2.1.2,
             vector ==0.11.0.0,
             primitive ==0.6,
             split ==0.2.2,
             tostring ==0.2.1.1,
             case-insensitive ==1.2.0.4,
             utf8-string ==1.0.1.1,
             type-list ==0.5.0.0,
             singletons ==2.1,
             syb ==0.5.1,
             th-desugar ==1.6,
             th-expand-syns ==0.4.0.0,
             th-lift ==0.7.6,
             th-orphans ==0.13.1,
             th-lift-instances ==0.1.10,
             th-reify-many ==0.1.6,
             safe ==0.3.9,
             vinyl ==0.5.2
